/* Variables */
$font-first: "Secular One", sans-serif;
$font-secend: "Libre Baskerville", serif;
$color-one: #fed336;
$color-two: #858887;
$font-color-light: #ffffff;
$font-color-dark: #0c0c0e;
/*Global*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.splash {
    position: relative;
    height: 100vh;
    background-image: url("../images/oksy.jpg");
    background-size: cover;
    display: block;
    padding-top: 20px;
    color: $font-color-light;
    z-index: -2;
}

.splash::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000;
    z-index: -1;
}

.splash .row {
    margin-top: 20px;
}

.navigation {
    font-size: 16px;
    font-family: $font-first;
    width: fit-content;
    float: right;
}
.navigation a {
    text-decoration: none;
    color: $font-color-light;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0 36px 0 0;
    position: relative;
}

.splash h1,
h3 {
    text-align: center;
}

.btn {
    padding: 20px 50px;
    background-color: $color-one;
    display: block;
    border-radius: 5px;
    width: fit-content;
    color: $font-color-light;
    text-decoration: none;
    font-weight: 600;
    font-family: $font-first;
}
.splash .btn {
    margin-left: auto;
    margin-right: auto;
}
.splash h3 {
    margin-top: 15rem;
    font-size: 2.5rem;
    font-family: $font-secend;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 0;
}
.splash h1 {
    font-size: 4.5rem;
    font-family: $font-first;
    font-weight: 100;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 100;
    font-family: $font-first;
    margin-bottom: 0;
}
.section-subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: $color-two;
    font-style: italic;
    margin-top: 10px;
}

.services .icon {
    margin: auto;
    width: 88px;
    height: 88px;
    color: $color-one;
    border: 4px solid $color-one;
    border-radius: 50%;
    text-align: center;
}

.services .icon i {
    margin-top: 10px;
}

.services-name {
    font-size: 1.2rem;
    font-family: $font-first;
    font-weight: 100;
    text-align: center;
}

.services-text {
    color: $color-two;
    text-align: center;
}

.portfolio {
    background: #edf0ef;
}

.card-name {
    font-size: 1.2rem;
    font-weight: 100;
    font-family: $font-first;
    text-align: center;
    margin: 0;
    background-color: #ffffff;
    padding-top: 15px;
}
.card-text {
    color: $color-two;
    font-family: $font-secend;
    font-style: italic;
    text-align: center;
    margin: 0;
    background-color: #ffffff;
    padding-bottom: 15px;
}
.card {
    padding: 10px;
}
.card-image {
    overflow: hidden;
    width: 100%;
    height: 80%;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
